.newsletter{
    width: auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: rgb(199,166,201);
    background: linear-gradient(180deg, rgba(199,166,201,1) 0%, rgba(255,255,255,1) 60%);
    gap: 30px;
    padding-top: 50px;
}

.newsletter h1{
    color:  black;
    font-size: 30px;
    font-weight: 600;
}

.newsletter p{
    color: black;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 730px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}