.offers{
    width: 100%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    /* margin-top: 650px; */
    background: rgb(199,166,201);
    background: linear-gradient(180deg, rgba(199,166,201,1) 0%, rgba(255,255,255,1) 60%);
    /* border-radius: 40px; */
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.offers-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 75px;
    padding-right: 100px;
}

@media(max-width: 1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;
    }

    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 30px;
    }
}

@media(max-width: 1024px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 200px;
    }

    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 10px;
    }
}

@media(max-width: 800px){
    .offers{
        /* padding: 0px 80px; */
        margin-bottom: 60px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-right img{
        width: 180px;
    }

    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
    /* .offers-right{
        padding-top: 30px;
    } */
}

@media(max-width: 500px){
    .offers{
        /* padding: 0px 80px; */
        height: 25vh;
        margin-bottom: 50px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 120px;
    }

    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
    /* .offers-right{
        padding-top: 30px;
    } */
}